################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Systembolagskollen/obj/Debug
/Systembolagskollen/obj/Release
/Systembolagskollen/bin
