################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Systembolagskollen/obj/Debug
/Systembolagskollen/bin/Debug
/Systembolagskollen/bin/Debug
/Systembolagskollen/bin/Debug/app.publish
/.vs/Systembolagskollen/v15
/Systembolagskollen/obj/Release
